/.build/
/_build/
/Build
/Build.bat
/blib
Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj
lib/**/*.c
ppport.h

!LICENSE

/_build_params

MYMETA.*

/Data-MessagePack-Stream-*

*.cmake
!Files.cmake
CMakeCache.txt
CMakeFiles/
libmsgpackc.a
msgpack.pc
